<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="width: 100%;">
        <h2>Music Player</h2>
        <p>Selected Song: <span id="selectedSong">{{ selectedSong }}</span></p>
        <button id="playButton" (click)="playSong()">Play</button>
        <audio id="audioPlayer" #audioPlayer controls></audio>
    </div>
</body>

</html>